.react-calendar {
  border: none;
  border-radius: 12px;
}
.react-calendar__tile {
  aspect-ratio: 1;
  border: 5px solid transparent;
}
.react-calendar__tile:not([disabled]) {
  border-radius: 50px;
  border: 5px solid white;
}
.react-calendar__tile--now {
  background-color: #E6F4E6 !important;
}
.react-calendar__tile--active {
  background-color: #3A5E8C !important;
}
.react-calendar__tile--active:hover {
  background-color: #2C4A72 !important;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  /* color: #2C4A72 !important; */
}